server:
  port: 9090
  servlet:
    context-path: /
  tomcat:
    uri-encoding: utf-8
spring:
  profiles:
    active: dev
  #控制台日志输出取消颜色
  output:
    ansi:
      enabled: always
  application:
    name: dms
#开启actuator
management:
  endpoints:
    web:
      exposure.include: "*"
  endpoint:
    health:
      show-details: always