<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.mango.require.mapper.RequireMergeMapper">

    <!-- 通用查询映射结果 -->
    <resultMap id="BaseResultMap" type="com.mango.require.entity.pojo.RequireMerge">
        <id column="merge_id" property="mergeId" />
        <result column="require_master_id" property="requireMasterId" />
        <result column="require_branch_id" property="requireBranchId" />
        <result column="create_user_id" property="createUserId" />
        <result column="create_time" property="createTime" />
        <result column="modify_user_id" property="modifyUserId" />
        <result column="modify_time" property="modifyTime" />
        <result column="is_del" property="isDel" />
    </resultMap>

    <!-- 通用查询结果列 -->
    <sql id="Base_Column_List">
        merge_id, require_master_id, require_branch_id, create_user_id, create_time, modify_user_id, modify_time, is_del
    </sql>

</mapper>
