<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.mango.require.mapper.RequireMergeMapper">

    <!-- 通用查询映射结果 -->
    <resultMap id="BaseResultMap" type="com.mango.require.entity.pojo.RequireMerge">
        <id column="require_master_id" property="requireMasterId" />
        <result column="require_branch_id" property="requireBranchId" />
        <result column="create_user_id" property="createUserId" />
        <result column="create_time" property="createTime" />
        <result column="modify_user_id" property="modifyUserId" />
        <result column="modify_time" property="modifyTime" />
    </resultMap>

    <resultMap id="BaseResultMapVo" type="com.mango.require.entity.vo.RequireMergeVo" extends="BaseResultMap">
        <result column="require_title" property="requireTitle"/>
    </resultMap>

    <!-- 通用查询结果列 -->
    <sql id="Base_Column_List">
        require_master_id, require_branch_id, create_user_id, create_time, modify_user_id, modify_time
    </sql>

    <select id="selectBranchs" resultMap="BaseResultMapVo">
        select
            m.require_master_id as require_master_id,
            m.require_branch_id as require_branch_id,
            m.create_user_id as create_user_id,
            m.create_time as create_time,
            m.modify_user_id as modify_user_id,
            m.modify_time as modify_time,
            r.require_title as require_title,
            r.require_id as require_id
        from
            t_require_merge m
        inner join t_require r on m.require_branch_id =r.require_id and r.is_del=0
        where
            m.require_master_id = #{requireId}
    </select>
    <select id="selectMaster" resultMap="BaseResultMapVo">
         select
            m.require_master_id as require_master_id,
            m.require_branch_id as require_branch_id,
            m.create_user_id as create_user_id,
            m.create_time as create_time,
            m.modify_user_id as modify_user_id,
            m.modify_time as modify_time,
            r.require_title as require_title,
            r.require_id as require_id
        from
            t_require_merge m
        inner join t_require r on m.require_master_id =r.require_id and r.is_del=0
        where
            m.require_branch_id = #{requireId}
    </select>

</mapper>
