<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.mango.require.mapper.RequireMapper">

    <!-- 通用查询映射结果 -->
    <resultMap id="BaseResultMap" type="com.mango.require.entity.pojo.Require">
        <id column="require_id" property="requireId" />
        <result column="require_title" property="requireTitle" />
        <result column="content" property="content" />
        <result column="priority" property="priority" />
        <result column="urgent" property="urgent" />
        <result column="status" property="status" />
        <result column="create_user_id" property="createUserId" />
        <result column="create_time" property="createTime" />
        <result column="modify_user_id" property="modifyUserId" />
        <result column="modify_time" property="modifyTime" />
        <result column="parent_id" property="parentId" />
        <result column="is_del" property="isDel" />
    </resultMap>

    <resultMap id="BaseResultMapVo" type="com.mango.require.entity.vo.RequireVo" extends="BaseResultMap">

    </resultMap>

    <!-- 通用查询结果列 -->
    <sql id="Base_Column_List">
        require_id, require_title, content, priority, urgent, status, create_user_id, create_time, modify_user_id, modify_time, parent_id, is_del
    </sql>

    <select id="selectList" resultMap="BaseResultMapVo">
        SELECT <include refid="Base_Column_List"/> FROM t_require ${ew.customSqlSegment}
    </select>

</mapper>
