<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.mango.demand.pool.mapper.RequireMapper">

    <!-- 通用查询映射结果 -->
    <resultMap id="BaseResultMap" type="com.mango.demand.pool.entity.pojo.Require">
        <id column="require_id" property="requireId" />
        <result column="require_title" property="requireTitle" />
        <result column="content" property="content" />
        <result column="priority" property="priority" />
        <result column="urgent" property="urgent" />
        <result column="status" property="status" />
        <result column="create_user_id" property="createUserId" />
        <result column="create_time" property="createTime" />
        <result column="modify_user_id" property="modifyUserId" />
        <result column="modify_time" property="modifyTime" />
        <result column="parent_id" property="parentId" />
        <result column="is_del" property="isDel" />
    </resultMap>

    <!--重组映射结果-->
    <resultMap id="BaseResultMapVo" type="com.mango.demand.pool.entity.vo.RequireListVo" extends="BaseResultMap">
        <result column="tag_names" property="tagNames"/>
        <result column="user_name" property="userName"/>
        <result column="dept_name" property="deptName"/>
    </resultMap>

    <!-- 通用查询结果列 -->
    <sql id="Base_Column_List">
        require_id, require_title, content, priority, urgent, status, create_user_id, create_time, modify_user_id, modify_time, parent_id, is_del
    </sql>

    <select id="selectAdminList" resultMap="BaseResultMapVo">
        SELECT
            r.require_id as require_id,
            r.require_title as require_title,
            r.content as content,
            r.priority as priority,
            r.urgent as urgent,
            r.status as status,
            r.create_user_id as create_user_id,
            r.create_time as create_time,
            r.modify_user_id  as modify_user_id,
            r.modify_time as modify_time,
            r.parent_id as parent_id,
            r.is_del as is_del,
            u.user_name as user_name,
            d.dept_name as dept_name,
            IFNULL(tag.tag_names,"") as tag_names
        FROM
        t_require r
        LEFT JOIN
        (SELECT
            GROUP_CONCAT(t.tag_name) tag_names,
            ANY_value(t.tag_id) tag_id,
            rt.require_id require_id
        FROM t_require_tag rt
        INNER JOIN t_tag t ON rt.tag_id=t.tag_id
        <if test="requireAdminListCo.tagId !=null">
            and t.tag_id = #{requireAdminListCo.tagId}
        </if>
         GROUP BY rt.require_id) tag
        ON tag.require_id = r.require_id
        INNER JOIN t_user u ON u.user_id = r.create_user_id
        INNER JOIN t_dept d ON d.dept_id = u.dept_id
        where 1 = 1
        <if test="requireAdminListCo.requireTitle !=null and requireAdminListCo.requireTitle != ''">
            and r.require_title LIKE CONCAT('%',#{requireAdminListCo.requireTitle},'%')
        </if>
        <if test="requireAdminListCo.status !=null">
            and r.status = #{requireAdminListCo.status}
        </if>
        <if test="requireAdminListCo.tagId !=null">
            and tag.tag_id = #{requireAdminListCo.tagId}
        </if>
        <if test="requireAdminListCo.userName !=null  and requireAdminListCo.userName != '' ">
            and u.user_name LIKE CONCAT('%',#{requireAdminListCo.userName},'%')
        </if>
        AND r.require_id NOT IN ( SELECT require_branch_id FROM t_require_merge )
        AND r.is_del = 0
        order by create_time desc
    </select>

    <select id="selectList" resultMap="BaseResultMapVo">
        SELECT
            r.require_id as require_id,
            r.require_title as require_title,
            r.content as content,
            r.priority as priority,
            r.urgent as urgent,
            r.status as status,
            r.create_user_id as create_user_id,
            r.create_time as create_time,
            r.modify_user_id  as modify_user_id,
            r.modify_time as modify_time,
            r.parent_id as parent_id,
            r.is_del as is_del,
            u.user_name as user_name,
            d.dept_name as dept_name,
            IFNULL(tag.tag_names,"") as tag_names
        FROM
        t_require r
        LEFT JOIN
        (SELECT
            GROUP_CONCAT(t.tag_name) tag_names,
            ANY_value(t.tag_id) tag_id,
            rt.require_id require_id
        FROM t_require_tag rt
        INNER JOIN t_tag t ON rt.tag_id=t.tag_id
            GROUP BY rt.require_id) tag
        ON tag.require_id = r.require_id
        INNER JOIN t_user u ON u.user_id = r.create_user_id
        INNER JOIN t_dept d ON d.dept_id = u.dept_id
        <if test="requireListCo.priority !=null and requireListCo.priority.length > 0">
            and r.priority in
            <foreach collection="requireListCo.priority" open="(" item="priority" separator="," close=")">
                 #{priority}
            </foreach>
        </if>
        <if test="requireListCo.urgent !=null and requireListCo.urgent.length > 0">
            and r.urgent in
            <foreach collection="requireListCo.urgent" open="(" item="urgent" separator="," close=")">
                #{urgent}
            </foreach>
        </if>
        AND r.require_id NOT IN ( SELECT require_branch_id FROM t_require_merge)
        AND r.is_del = 0
        order by urgent DESC,priority DESC,create_time desc
    </select>

</mapper>
