<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.mango.require.mapper.RequireCommentMapper">

    <!-- 通用查询映射结果 -->
    <resultMap id="BaseResultMap" type="com.mango.require.entity.pojo.RequireComment">
        <id column="comment_id" property="commentId" />
        <result column="content" property="content" />
        <result column="create_user_id" property="createUserId" />
        <result column="create_time" property="createTime" />
        <result column="modify_user_id" property="modifyUserId" />
        <result column="modify_time" property="modifyTime" />
        <result column="require_id" property="requireId" />
        <result column="is_del" property="isDel" />
    </resultMap>

    <resultMap id="BaseResultMapVo" type="com.mango.require.entity.vo.RequireCommentVo">
        <result property="floor" column="floor"/>
        <result column="user_name" property="userName"/>
        <result column="dept_name" property="deptName"/>
    </resultMap>

    <!-- 通用查询结果列 -->
    <sql id="Base_Column_List">
        comment_id, content, create_user_id, create_time, modify_user_id, modify_time, require_id, is_del
    </sql>

    <select id="selectList" resultMap="BaseResultMapVo">
        SELECT
            @rownum := @rownum + 1 AS floor,
            c.*
        FROM
            (SELECT @rownum := 0 ) r,
            (SELECT
                content.comment_id AS comment_id,
                content.content AS content,
                content.create_time AS create_time,
                content.create_user_id AS create_user_id,
                content.is_del AS is_del,
                content.modify_time AS modify_time,
                content.modify_user_id AS modify_user_id,
                content.require_id AS require_id,
                u.user_name AS user_name,
                d.dept_name as dept_name
            FROM
                t_require_comment content
                INNER JOIN t_user u ON u.user_id = content.create_user_id
                INNER JOIN t_dept d ON d.dept_id = u.dept_id
                AND content.require_id =#{requireCommentListCo.requireId}
            ORDER BY
            create_time DESC
            ) c
    </select>

</mapper>
