<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.mango.demand.pool.mapper.UploadFileMapper">

    <!-- 通用查询映射结果 -->
    <resultMap id="BaseResultMap" type="com.mango.demand.pool.entity.pojo.UploadFile">
        <id column="file_id" property="fileId" />
        <result column="file_type" property="fileType" />
        <result column="file_path" property="filePath" />
        <result column="file_size" property="fileSize" />
        <result column="file_name" property="fileName" />
        <result column="create_time" property="createTime" />
        <result column="modify_time" property="modifyTime" />
        <result column="is_del" property="isDel" />
    </resultMap>

    <!-- 通用查询结果列 -->
    <sql id="Base_Column_List">
        file_id, file_type, file_path, file_size, file_name, create_time, modify_time, is_del
    </sql>

    <select id="selectByRequireId" resultMap="BaseResultMap">
        SELECT
            file.file_id as file_id,
            file.file_type as file_type,
            file.file_path as file_path,
            file.file_size as file_size,
            file.file_name as file_name,
            file.create_time as create_time,
            file.modify_time as modify_time,
            file.is_del as is_del
        FROM
            t_require_file rfile
        INNER JOIN t_upload_file file ON rfile.file_id = file.file_id
            AND file.is_del = 0
            AND rfile.require_id = #{requireId}
        ORDER BY create_time
    </select>

</mapper>
